<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header bg-secondary text-light">
                    <h5>Sample</h5>
                </div>
                <div class="card-body">
                    <p>sample body</p>
                </div>
                <div class="card-footer">
                    <p>sample footer</p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header bg-secondary text-light">
                    <h5>Sample</h5>
                </div>
                <div class="card-body">
                    <p>sample body</p>
                </div>
                <div class="card-footer">
                    <p>sample footer</p>
                </div>
            </div>
        </div>
    </div>
</div>